@model GasSolution.Web.Areas.Admin.Models.Gas.GasStationModel
@{
    //page title
    ViewBag.Title = "新增加油站";
}

@using (Html.BeginForm("Create", "Gas", FormMethod.Post, new { id = "gas-form" }))
{
    <section class="content-header">
        <h1 class="pull-left">新增加油站</h1>
        <div class="pull-right">
            <input type="submit" name="save" class="btn btn-primary" value="保存" />
            <input type="submit" name="save-continue" class="btn btn-primary btn-success" value="保存并编辑" />
            <a href="@Url.Action("List")" class="btn btn-danger"><i class="fa fa-fw fa-plus-square"></i>返回列表</a>
        </div>

    </section>
    <section class="content">
        <div class="portlet-body">
            @Html.AntiForgeryToken()
            @Html.Partial("_CreateOrUpdate", Model)
        </div>
    </section>
}


