@model GasSolution.Web.Areas.Admin.Models.Vehicles.VehicleStatisticalOverviewModel
<div class="info-box">
    <span class="info-box-icon bg-red">
        <i class="fa fa-car"></i>
    </span>
    <div class="info-box-content">
        <span class="info-box-text">车辆数量</span>
        <span class="info-box-number">@(Model.VehicleTotalCount)</span>
    </div>
    <!-- /.info-box-content -->
</div>