@model GasSolution.Web.Areas.Admin.Models.Customers.CustomerStatisticalOverviewModel

<div class="info-box">
    <span class="info-box-icon bg-red">
        <i class="fa fa-user"></i>
    </span>
    <div class="info-box-content">
        <span class="info-box-text">用户统计</span>
        <span class="info-box-number">@(Model.CustomerTotalCount)</span>
    </div>
    <!-- /.info-box-content -->
</div>