@model GasSolution.Web.Areas.Admin.Models.Promotions.PromotionStatisticalOverviewModel

<div class="info-box">
    <span class="info-box-icon bg-red">
        <i class="fa fa-line-chart"></i>
    </span>
    <div class="info-box-content">
        <span class="info-box-text">油价爆料</span>
        <span class="info-box-number">@(Model.TotalCountNone)</span>
    </div>
    <!-- /.info-box-content -->
</div>