
@{
    ViewBag.Title = "限行措施";
}

<div class="limit-page">
    <div class="page-header">
        <h4>限行措施</h4>
    </div>
    <div class="content-wrapper">
        <div class="meta_content">
            @DateTime.Now.ToString("yyyy-MM-dd")
        </div>
        <div class="ct">
            <h5>
                @Html.Raw(DateTime.Now.ToString("MM月dd日"))
                (@Html.Raw(System.Globalization.CultureInfo.CurrentCulture.DateTimeFormat.GetDayName(DateTime.Now.DayOfWeek)))
                限行措施

            </h5>
            @if (DateTime.Now.DayOfWeek == DayOfWeek.Sunday || DateTime.Now.DayOfWeek == DayOfWeek.Saturday)
            {
                <p>石家庄主城区以及各县区不限行！</p>
                <p>除此之外的我省各地以及北京、天津不限行！</p>
            }
            else
            {
                <p>石家庄主城区以及各县区 工作日7:00--20:00，限行尾号@((int)DateTime.Now.DayOfWeek)和@(((int)DateTime.Now.DayOfWeek)+5))！</p>

                <p>除此之外的我省各地以及北京、天津，都是限行尾号@((int)DateTime.Now.DayOfWeek)和@(((int)DateTime.Now.DayOfWeek) + 5))！</p> }
            <p>
                <span style="font-family: 宋体;font-size: 18px;color: rgb(217, 33, 66);">
                    【省会限行】周一到周五，石家庄早、晚高峰期间（7:30到<span style="font-size: 18px;font-family: Calibri;">8:30</span>；
                    <span style="font-size: 18px;font-family: Calibri;">17:30</span>到<span style="font-size: 18px;font-family: Calibri;">19:00</span>），外埠机动车进入石家庄二环以内（不含二环）道路行驶需要办理通行证。
                </span>
            </p>

            <div class="li">

            </div>

            <section class="text-red font18"><span>【石家庄尾号限行】</span></section>
            <p>据石家庄市气象、环保部门预测，10月中下旬石家庄市气象条件不利于污染物扩散，污染天气持续较长，为保障人民群众身体健康。</p>

            <p>自2017年10月18日 起实行机动车2个尾号为一组轮流限行的交通管理措施，市区三环路（含）以内通行的车辆（含外埠号牌车辆和临时号牌车辆）每天限行2个号，工作日周一至周五分别限行1和6、2和7、3和8、4和9、5和0，尾号为英文字母或汉字的以最后一位数字为准；</p>

            <p>限行时段为早7时至晚20时；法定节假日和双休日不限号。</p>

            <p>军队、警务、环境执法、消防、急救、抢险、邮政(快递）保险勘验救援、民生保障、环卫作业车辆和单位班车、公交车、出租车、纯电动小型载客汽车不执行限行措施。</p>

            <p>蓝牌货车需要在遵循常规限行的基础上，再加上尾号限行措施。</p>
            <div class="li">

            </div>
            <section class="text-red font18"><span>【石家庄常态限行】</span></section>
            <p>1、重型、中型载货汽车：石家庄依然禁行，24小时禁止驶入三环、古城路及以内道路行驶；</p>
            <p>2、轻型、微型载货汽车常规限行措施：</p>
            <p></p>
            <p>在工作日（法定节假日除外）7:00至9:00、17:00至19:00时段，禁止所有货运车辆（含环卫清扫、园林施工、道路设施维护车辆以及外埠号牌等货车）通行二环路（含二环主路及高架桥）以内所有道路；消防、抢险、执行任务的军用、警用等载货汽车除外。</p>

            <p>每日9：00至11：00、15：00至17：00，禁止轻型、微型载货汽车通行中山路（西二环至东二环）、裕华路（东二环至苑东街）、中华大街（南二环至和平路）、平安大街（槐安路至和平路）、建设大街（槐安路至和平路）、维明街（槐安路至新华路）、青园街（槐安路至和平路）、友谊大街（槐安路至和平路）、体育大街（槐安路至和平路）</p>
            <p>                每日7：00至19：00，禁止载货汽车在槐安路主路（时光街至东二环）通行。</p>

            <section style="padding: 20px 10px 10px;max-width: 100%;box-sizing: border-box;color: rgb(62, 62, 62);font-size: 16px;line-height: 19.6923px;white-space: normal;border-width: 1px;border-style: solid;border-color: rgb(192, 200, 209);background-color: rgb(239, 239, 239);word-wrap: break-word !important;" class="text-left">

                <section style="max-width: 100%;box-sizing: border-box;word-wrap: break-word !important;">
                    <section style="text-align:left; max-width: 100%;box-sizing: border-box;word-wrap: break-word !important;">
                        <p>注意：目前重型、中型载货汽车（黄牌货车）：石家庄依然禁行，24小时禁止驶入三环、古城路及以内道路行驶；<br></p>
                        <p>
                            <strong style="max-width: 100%;box-sizing: border-box !important;word-wrap: break-word !important;">
                                <span>2016年1月1日起至2018年12月31日止</span>
                            </strong>
                        </p>

                        <p>
                            （一）重型、中型载货汽车（含专项作业车）
                        </p>
                        <p>
                            1、所有重型、中型货车<strong>全天24小时禁止</strong>进入
                            三环路（含）以内道路行驶。
                        </p>
                        <p>2、途经我市的外埠石家庄市及所辖县、市以外）重型、中型货车，须绕行三环路以及京港澳高速、石黄高速、石太高速、青银高速、绕城高速等三环路以外其它道路。</p>
                        <p>3、昼夜禁止重型、中型载货汽车在三环路（含以内高架桥上行驶；三环路辅路通车后，55吨（含）以上重型货车通行三环路辅路，禁止进入主路行驶。</p>
                        <p>（二）轻型、微型载货汽车（含专项作业车）</p>
                        <p>1、在工作日（法定节假日除外）7:00至9:00、17:00至19:00时段，禁止所有货运车辆（含环卫清扫、园林施工、道路设施维护车辆以及外埠号牌等货车）通行二环路（含二环主路及高架桥）以内所有道路；消防、抢险、执行任务的军用、警用等载货汽车除外。</p>
                        <p>2、每日9：00至11：00、15：00至17：00，禁止轻型、微型载货汽车通行中山路（西二环至东二环）、裕华路（东二环至苑东街）、中华大街（南二环至和平路）、平安大街（槐安路至和平路）、建设大街（槐安路至和平路）、维明街（槐安路至新华路）、青园街（槐安路至和平路）、友谊大街（槐安路至和平路）、体育大街（槐安路至和平路）。
                        <p>3、每日7：00至19：00，禁止载货汽车在槐安路主路（时光街至东二环）通行。</p>
                        <p>（三）拖拉机、低速货车、三轮汽车、摩托车</p>
                        <p>1、全天禁止以上车型在市区二环路（含）以内道路、二环至三环之间主干道延伸（连接）线内道路以及石家庄高新技术产业开发区昆仑大街、秦岭大街、天山大街、黄河大道、长江大道、珠江大道路段通行。</p>
                        <p>2、以上车型在三环路辅路通车后通行三环辅路，禁止进入主路行驶。</p>
                        <p>（四）营运人力三轮车以及未在国家机动车公告目录内的电动、燃油三轮车，电动、燃油四轮车</p>
                        <p>以上未经国家机动车产品主管部门许可生产的机动车属于拼装车，不得上道路行驶。</p>
                        <p>（五）载客汽车</p>
                        <p>1、在工作日（法定节假日除外）7:30至8:30、17:30至19:00时段，外埠号牌和10座（含）以上冀A牌照的载客汽车禁止通行二环路（不含）以内道路。班线客运车、出租车、公交车、通勤班车、救护车，以及执行任务的消防车、抢险车、军用、警用载客汽车等车辆除外。</p>
                        <p>2、每日8：30至11：00、15：00至17：30，禁止10座（含）以上载客汽车通行中山路（西二环至东二环）、裕华路（东二环至苑东街）、中华大街（南二环至和平路）、平安大街（槐安路至和平路）、建设大街（槐安路至和平路）、维明街（槐安路至新华路）、青园街（槐安路至和平路）、友谊大街（槐安路至和平路）、体育大街（槐安路至和平路）。</p>
                        <p>3、每日7：00至19：00，禁止10座（含）以上载客汽车在槐安路主路（时光街至东二环）通行。</p>
                        <p>（六）“黄标车”</p>
                        <p>“黄标车”24小时禁止在市区三环路（含）以内区域和藁城区、栾城区、鹿泉区、矿区城区内道路上通行。</p>
                        <p>（七）通行证办理</p>
                        <p>对用于民生保障、重点项目建设及急救、抢险的重型、中型货车（7：00至9：00、17：00至19：00除外），以及注册地或单位所在地或车主居住地在限行、禁行路段、确需通行市区道路的轻型、微型货车以及10座（含）以上载客汽车，机动车所有人为本市户口、企业或临时来石参会的外埠号牌公务用载客汽车，可以到市公安局交通管理局办理专用《通行证》，并按指定时间、路线通行。</p>
                        在确认车辆违法行为已处理、年检正常尾气排放合格（持绿色环保检验合格标志）、交强险在有效期内且重点车辆的相关信息已纳入辖区交警大队监管服务平台等情况下，由车辆所有人或管理人持相关手续（机动车行驶证原件及复印件、单位介绍信、个人居住地证明、临时参会通知
                        等）到市公安局交通管理局服务大厅（地址：中华南大街476号，电话：85858148）登记备案后，免费办理市区道路《通行证》，并随车携带。
                            </p>
                    </section>
                </section>

            </section>
        </div>
    </div>
</div>

