
@{
    ViewBag.Title = "用户未登录";
}

<div class="error-page">
    <div class="error-title">
        <a class="error-logo" href="@Url.Action("Home")"><img src="~/images/logo.png" />石门油价</a>

        <h2>用户信息未查询到</h2>
    </div>
    <div class="error-content">
        <ul>
            <li>1.您是否未在微信浏览器中查看该页面?</li>
            <li>2.您是否使用电脑查看该页面?</li>
            <li>3.您是否未关注【石门油价】公众号?</li>
        </ul>
    </div>
</div>

